:root {
  --primary-color: #a3cfbb;
  --accent-color: #fff;
  --text-color: #000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
  color: var(--text-color);
}
button {
  background: var(--primary-color);
  color: var(--accent-color);
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
button:hover {
  background: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-align: center;
}
h1 {
  font-weight: 800;
  font-size: 64px;
  margin: 0px;
  color: var(--primary-color);
}
h2 {
  margin: 80px 0px 0px 0px;
}
h3 {
  margin: 10px 0px;
  text-decoration: none;
}
.aboutMeHeader {
  color: var(--primary-color);
}
a:visited {
  text-decoration: none;
}
.aboutMeText {
  display: flex;
  justify-content: space-between;
}
.aboutMeText div {
  flex: 1;
}
.backToHome {
  margin: 20px opx;
  font-size: 12px;
}
img {
  max-width: 200px;
  margin: 10px;
}
.imFrom {
  margin: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
